@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* color palette */
  --primary-color: #1e86e9;
  --secondary-color: #ffca69;
  --accent-color: #74e3fe;
  --white-color: #fffcf4;
  --neutral-color: #303030;
}

html {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.25rem;
}

h2 {
  font-size: 2rem;
}

h1 {
  font-size: 2.5rem;
}